<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/web-wood-3.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo main-logo" src="assets/img/bc-web-logo-4.png" alt="">
                <h1 class="h1-seo">Real cream</h1>
                <h1 class="h1-seo">Fresh ingredients</h1>
            </div>
        </div>
    </div>

    <div class="main">

        <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="hero-images-container">
                            <img class="rounded img-raised" src="assets/img/bc-about-us.jpg" alt="">
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>
                                                <i class="now-ui-icons objects_umbrella-13"></i> About
                                            </ng-template>
                                            <ng-template ngbTabContent>
                                                <p>Butter and Cream is located on the square in downtown Decatur and just off
                                                    the BeltLine in the Old Fourth Ward. Locally crafted in small batches
                                                    from real cream and only the freshest ingredients, we make ice cream
                                                    the way it should be made. While our offerings may have unique, modern
                                                    twists, they are still reminiscent of classic flavors we have grown up
                                                    with. All the ingredients infused into our ice cream such as brownies,
                                                    cookies or toffee have been made fresh on site as well. Support Atlanta’s
                                                    growing list of locally owned and operated businesses. Get Real. Enjoy
                                                    the best.</p>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>
                                                <i class="now-ui-icons shopping_cart-simple"></i> Flavors
                                            </ng-template>
                                            <ng-template ngbTabContent>
                                                <h6>
                                                    <span>Classic Flavors</span>
                                                </h6>
                                                <p>Butter and Cream Vanilla &#183; Freckled Chocolate &#183; Summer Strawberry
                                                    &#183; East Pole Coffee &#183; Butter Pecan &#183; Mint Chocolate Chip
                                                    &#183; Salted Caramel</p>
                                                <h6>
                                                    <span>Signature Flavors</span>
                                                </h6>
                                                <p> Butterscotch Brownie &#183; Honeycomb Forest &#183; OG Goodness &#183; Cashew
                                                    Creme Brûlée &#183;
                                                </p>
                                                <p> Rotating / Seasonal Flavors: Salted Chocolate+ Chocolate Peanut Butter Chunk*
                                                    GWB Milk Chocolate Stout Persian Rose Passionfruit Habanero Lady Grey
                                                    Lavender* Green Tea Ginger+ Maple Walnut* Raspberry Rocky Road+ Pay Daze
                                                    Sorbets: Dark Chocolate Strawberry Grapefruit Campari* Luxardo Cherry+
                                                    Orange Basil * Mimosa+ Jasmine Pearl Yuzu* Blood Orange+ </p>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
</div>